<head>
  <style>
       /* Set the size of the div element that contains the map */
       #map {
           height: 400px;
           /* The height is 400 pixels */
           width: 100%;
           /* The width is the width of the web page */
       }
   </style>
</head>
<h1>{{user.first_name}} {{user.last_name}} [{{user.id}}]</h1>
<ul class="list-group">
  <li class="list-group-item"><strong>locality: </strong>{{user.last_name}}</li>
  <li class="list-group-item"><strong>Coordinate lattitude: </strong>{{user.email}}</li>
  <li class="list-group-item"><strong>Coordinate longitude: </strong>{{user.phone}}</li>
</ul>
<body>
    <h3>location in map</h3>
    <!--The div element for the map -->
    <div id="map"></div>
    <script>
        // Initialize and add the map
        function initMap() {
            // The location of Uluru
            var uluru = {lat: {{user.email}}, lng: {{user.phone}} };
            // The map, centered at Uluru
            var map = new google.maps.Map(
                document.getElementById('map'), { zoom: 4, center: uluru });
            // The marker, positioned at Uluru
            var marker = new google.maps.Marker({ position: uluru, map: map });
        }
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXHQsOYNVgEuaLPjH7C-5ieE0CXrI5eOk&callback=initMap">
        </script>
</body>
<a class="btn btn-default pull-left" href="/">Back</a>
<form method="POST" action="/user/delete/{{user.id}}?_method=DELETE">
  <input type="submit" class="btn btn-danger pull-right" value="Delete">
</form>
